extends layout

block content
  div#container
    div#header
      img#logo(src='/images/logo.png')
      dev#clockCenter
      div#minuteRotator
        div#minuteHand
      div#hourRotator
        div#hourHand
      h2#timeCounter
        span.number 20
        span.plural  minutes
      div#scrollBar
        div#innerScroll
      h3 How much time do you want to waste?
      button Go!
    div#footer
      img#footerImage(src='/images/footer.png')
      p Made with love by&nbsp;
        a(href='https://twitter.com/bethanysum') four
        | ,&nbsp;
        a(href='https://twitter.com/seanhaufler') really
        | ,&nbsp;
        a(href='https://twitter.com/amidvidy') cool
        | ,&nbsp;
        a(href='https://twitter.com/aayushu') devs.
    script
      $(function() {
        var currentPage = HomePage.getInstance();
      });

