<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Wastesometi.me</title>
        <script type="text/javascript" src="/static/js/third_party/jquery-1.7.2.js"></script>
        <script type="text/javascript" src="/static/js/third_party/underscore.js"></script>
        <script type="text/javascript" src="/static/js/third_party/backbone.js"></script>
        <script type="text/javascript" src="/static/js/app.js"></script>
        <script type="text/javascript">
<!--
$(document).ready(function() {              
    var app = new wst.App();
});
-->
    </script>
    </head>
    <body>
      <div id="container">
        <div id="input">
          <form>
            <p>How much time do you want to waste?</p>
            <input type="text" id="timeInput" size="10" />
            <button type="button">Waste Time</button>
          </form>
        </div>
        <div id="picker" style="display: none;">
        </div>
        <div id="article" style="display: none;">
        </div>  
        <div id="video" style="display: none;">
        </div>
      </div>
    </body>
</html>